

* {
  margin: 0;
  padding: 0; 
  box-sizing: border-box;
}

::selection {
  background-color: var(--cyan); 
}

:root {
  --light: white;
  --dark: black;
  --beige: #FAEBD7;
  --beige-dark: #deb887ce;
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
  --purple: rgba(255, 0, 130, 0.5);
  --purple-dark: #663399;
  --cyan: lightblue; 
  --transparent: rgba(255, 255, 255, 0);
}

body {
  background-image: url("../img/sky_plane.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  justify-items: center;
  align-items: start;
}
    @media only screen and (max-width: 37.5em) {
      .body {
        display: flex;

      }
    }

/*quote container*/
.container {
  max-width: 100%;
  float: inherit;
  height: auto;
  overflow: hidden; 
  position: fixed;
  top: 3%;
  left: 31%;
  justify-content: center;
  margin: 1em;
  padding: 4em;
}
    @media only screen and (min-width: 56.26em) and (max-width: 64em){
      .container {
        top: 15%;
        left: 9%;
      }
    }
    @media only screen and (max-width: 56.25em) {
      .container {
        top: 14%;
        left: 2%;
      }
    }
    @media only screen and (max-width: 37.5em) {
      .container{
        top: 7%;
        left: 1%;
        justify-content: center;
        max-width: 100%;
        margin: .4em;
        padding: 2em;
      }
    }

 .container--quote {
   height: auto;
   margin: 1em auto;
   padding: 2em 0;
   border-radius: 10px; 
   max-width: 700px;
}
.header-text {
  font-family: 'Antic Didone', serif;
  color: var(--light);
  font-size: 2.3rem;
}
    @media only screen and (min-width: 56.26em) and (max-width: 64em){
      .header-text {
        font-size: 3rem;
      }
    }
    @media only screen and (max-width: 56.25em) {
      .header-text {
        font-size: 2.6rem;
      }
    }
    @media only screen and (max-width: 37.5em) {
      .header-text {
        font-size: 1.9rem;
      }
    }

/*paper card*/
.card {
  --paper-color: var(--beige);
  --paper-dark: var(--beige-dark);
  --shadow-size: 1px;
  --transparent: rgba(236, 178, 186, 0);
}
.paper {
  position: relative;
  background: linear-gradient(
      to bottom right,
      var(--paper-dark),
      20%,
      var(--transparent)
    ),
    var(--paper-color);
  min-width: 250px;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Caveat", cursive;
  font-size: 2rem;
  box-shadow: var(--shadow-size) var(--shadow-size) 2px var(--paper-dark);
  margin: auto;
  margin-top: 50px;
}
    @media only screen and (min-width: 56.26em) and (max-width: 64em){
      .paper {
        min-width: 230px;
        min-height: 200px;
        font-size: 2.8rem;
      }
    }
    @media only screen and (max-width: 56.25em) {
      .paper{
        min-width: 220px;
        min-height: 180px;
        font-size: 2.4rem;
      }
    }
    @media only screen and (max-width: 37.5em) {
      .paper {
        min-width: 180px;
        min-height: 140px;
        font-size: 1.4rem;
        justify-content: center;
      }
    }

.paper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      var(--transparent),
      50%,
      var(--paper-dark),
      51%,
      var(--transparent)
    ),
    linear-gradient(
      to right,
      var(--transparent),
      50%,
      var(--paper-dark),
      51%,
      var(--transparent)
    );
}

/*quote*/
#quote-body {
  font-family: 'Nothing You Could Do', cursive;
  color: var(--dark);
}

/*type*/
.tape-section {
  position: absolute;
  width: 100%;
}
.tape-section:first-of-type {
  top: 0;
}

.tape-section:last-of-type {
  bottom: 0;
}

.tape-section::before,
.tape-section::after {
  content: "";
  width: 10vmin;
  height: 4vmin;
  position: absolute;
  background-color: var(--tape-gray);
  opacity: 0.6;
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 2px dotted var(--tape-edge-gray);
}

.tape-section:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -3vmin;
}

.tape-section:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
}

.tape-section:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 0;
}

.tape-section:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 0;
}


/*button*/
button {
  font-family: 'Antic Didone', serif;
  background-color: var(--purple-dark);
  padding: 2%;
  margin: 4%;
  display: inline-block;
  font-size: 1.3em;
  color: var(--light);
  appearance: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px var(--purple);
}

    @media only screen and (min-width: 56.26em) and (max-width: 64em){
      .button {
        font-size: 1.5rem;
      }
    }
    @media only screen and (max-width: 56.25em) {
      .button {
        font-size: 1.4rem;
      }
    }
    @media only screen and (max-width: 37.5em) {
      .button {
        font-size: 1rem;
      }
    }